$lightBackground: #fff7d6;
$darkText: #531a5e;
$lightBodyText: lighten($darkText, 10%);
$darkBackground: #300c48;
$lightText: white;
$lightBodyText: darken($lightText, 10%);
$farmBrown: rgb(100, 33, 0);
